<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  #{if SpecifiedPickupDirectory}
  <system.net xdt:Transform="Insert">
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="#{PickupDirectoryLocation}"/>
      </smtp>
    </mailSettings>
  </system.net>
  #{/if}
</configuration>